@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url('/public/Asset/Image/home.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}